#console {
    width: 100%;
    min-height: 60px;
    overflow: hidden;
    background-color: white;
    color: black;
    font-family: monospace;
    border: none;
    resize: none;
    padding: 10px;
    font-size: small;
}

body{
    background-color: #6c757d;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #686f75 0, #686f75 1px, #6c757d 0, #6c757d 50%);
}

span.input-group-text {
    cursor: help;
}

.card-header {
    font-weight: bold;
    background-color: rgb(33 37 41 / 13%) !important
}

.progress{
    border-radius: 3px;
}

#emb-plot, #loss-plot{
    background-image: url(img/placeholder1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}

.btn:disabled{
    opacity: 0.3;
    cursor: not-allowed;
}

.form-control:disabled{
    color: #adadad;
    background-color:white;
    cursor: not-allowed;
}
  
 #batch-pgb{
    transition: none;
 }

 .dt-paging {
    margin-top: 20px !important;
    display: inline-block;
 }

 table input.form-control{
    height: 30px;
    padding: 0px;
    text-align: center;
    width: 50px;
    padding-left: 10px;
 }

 table input.form-control[value="-1"]{
    color:#dddddd;
 }

 #new-user-table_wrapper{
    font-size:14px;
 }

 .progress{
    height: 20px;
 }