#console {
    width: 100%;
    min-height: 60px;
    overflow: hidden;
    background-color: white;
    color: black;
    font-family: monospace;
    border: none;
    resize: none;
    padding: 10px;
    font-size: small;
}

span.input-group-text {
    cursor: help;
}

.card-header {
    font-weight: bold;
    background-color: rgb(33 37 41 / 13%) !important
}

.progress{
    border-radius: 3px;
}