#console {
    width: 100%;
    min-height: 60px;
    overflow: hidden;
    background-color: white;
    color: black;
    font-family: monospace;
    border: none;
    resize: none;
    padding: 10px;
    font-size: small;
}

span.input-group-text {
    cursor: help;
}

.card-header {
    font-weight: bold;
    background-color: rgb(33 37 41 / 13%) !important
}

.progress{
    border-radius: 3px;
}

#emb-plot, #loss-plot{
    background-image: url(img/placeholder1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}

.btn:disabled{
    opacity: 0.3;
    cursor: not-allowed;
}

.form-control:disabled{
    color: #adadad;
    background-color:white;
    cursor: not-allowed;
}
  
 #batch-pgb{
    transition: none;
 }

 .dt-paging {
    margin-top: 20px !important;
    display: inline-block;
 }